standard-margin = 1.5rem
primary-colour = #007bff
card-shadow = 0.0rem 0.25rem  0.25rem rgba(0, 0, 0, 0.2)

div.CONFORM-warning
  padding: standard-margin
  margin-bottom: standard-margin
  border-radius: 0.1rem
  background: #fe9
  border: 1px solid #ed8
  color: #333

@import './form-container.styl'
@import './fields'
@import './layout'
