div.CONFORM-card-section
  padding: standard-margin
  &.title
    padding: (standard-margin * (2/3)) standard-margin
  &.primary
    background: primary-colour
    color: #fff
  >:last-child
    margin-bottom: 0
