div.CONFORM-controllable
  display: flex
  div.contents, div.controls
    flex: 1
  div.controls
    flex-grow: 0
    margin-left: (standard-margin / 2)
    button
      width: (standard-margin * 1.5)
      height: (standard-margin * 1.5)
      font-size: 1.5rem
      line-height: 1.5rem
      padding: 0
      box-shadow: card-shadow
