.MIRECO-text, .MIRECO-textarea
  &.paragraph
    padding: 0
    background: none
    border: none
    outline: none
    &:focus
      box-shadow: none

ul.CONFORM-palette
  list-style: none
  margin: 0
  margin-bottom: 1rem
  padding: 0
  li
    display: block
    padding: 0.25rem 0.5rem
    margin: 0
    margin-bottom: 0.5rem
    border: 1px solid #333
    background: #fff
    font-size: 1rem

.CONFORM-editable-card-title
  background: #007bff !important
  color: #fff
  margin: 0 !important
  padding: 1rem !important
  &::placeholder
    color: #ccc

div.draggable
  position: relative
  display: flex
  flex-direction: row
  div.handle
    flex-basis: 0.8rem
    margin-right: 0.5rem
    margin-bottom: 1rem
    cursor: move
    background-image: radial-gradient(#444 25%, #eee 25%)
    background-position: 0 0
    background-size: 0.4rem 0.4rem
    // z-index: 11
  div.contents
    flex: 1
    position: relative
  button.delete
    position: absolute
    top: 0
    right: 0
    display: none
    background: #d00 !important
    border: none !important
    padding: 0.25rem
    line-height: 1em
  &:hover
    > button.delete
      display: block
  div.drop-adjacent
    content: ' '
    position: absolute
    height: 50%
    width: 100%
    left: 0
    &.before
      top: 0
      background: rgba(0, 0, 0, 0)
      // background: rgba(255, 0, 0, 0.05)
    &.after
      bottom: 0
      background: rgba(0, 0, 0, 0)
      // background: rgba(0, 255, 0, 0.05)

div.content-box
  position: relative
  display: flex
  padding-bottom: 1.5rem
  p.no-contents
    margin: 0
    padding: 0
    color: #666
    font-size: 1rem
  div.drop-zone
    content: ' '
    position: absolute
    top: -0.5rem
    left: -0.5rem
    right: -0.5rem
    bottom: 0.5rem
    // background: rgba(0, 0, 255, 0.05)
